 <!-- Highlight Card -->  
  <div class="card highlight-card card-small">
    <h1>Registrar Factura</h1>
    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">      
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>
  </div>
  <!-- Links -->
  <div>
      <table style="border: 0px solid; width: 100%; background-color:#bfcfe0;color:black; min-width: 500px;" id="cssTable">
        <tr>
          <td>Emisor</td><td><input type="text" id="emisor" [(ngModel)]="factura.emisor" size=55/></td>
        </tr>
        <tr>
            <td>Receptor</td><td><input type="text" id="receptor" [(ngModel)]="factura.receptor" size=55/></td>
        </tr>
        <tr>
            <td>Factura</td><td><input type="number" id="factura" [(ngModel)]="factura.folioSIP"/></td>
        </tr>
        <tr>
            <td>Fecha</td><td><input type="datetime-local"  placeholder="dd-mm-yyyy" id="fecha" [(ngModel)]="factura.fecha"/></td>
        </tr>
        <tr>
            <td>RFC</td><td><input type="text" id="rfc" [(ngModel)]="factura.rfc" size=13/></td>
        </tr>
        <tr>
            <td>Tipo Maniobra</td><td>
              <input type="radio" id="impo" [(ngModel)]="factura.byTrafico" value="I" checked/><label for="impo">Importaci&oacute;n</label>
              <input type="radio" id="expo" [(ngModel)]="factura.byTrafico" value="E"/><label for="expo">Exportaci&oacute;n</label>
            </td>
        </tr>
        <tr>
            <td>Cliente</td><td><input type="text" id="strCliente" [(ngModel)]="factura.strCliente" size=80/></td>
        </tr>
        <tr>
            <td>Agente Aduanal</td><td><input type="text" id="strNomAgente" [(ngModel)]="factura.strNomAgente" size=80/></td>
        </tr>
        <tr>
            <td>URL documento</td><td><input type="text" id="url" [(ngModel)]="factura.strUrl" size=80/></td>
        </tr>        
      </table>
      <br>
      <button (click)="registraFactura()">Registrar</button>
  </div>
  <br/>
  <div class="card" *ngIf="proceso==0">
    <b style='color:green;'>Procesando ...</b>
  </div>
  <div class="card" *ngIf="proceso==1">
      <br/>
      <table>
          <tr>
            <th style="background-color: #b3bfcc;">Transaction Hash</th>
            <th style="background-color: #b3bfcc;">BlockNumber</th>
          </tr>
          <tr>
            <td><a href="https://{{this.web3s.explorerTx}}{{this.transactionHash}}" target="_blank" style='color:green;'>{{this.transactionHash}}</a></td>
            <td><a href="https://{{this.web3s.explorerBl}}{{this.blockNumber}}" target="_blank" style='color:red;'>{{this.blockNumber}}</a></td>
          </tr>          
      </table>
  </div>  
  <div class="card" *ngIf="proceso==2">
      <b style="color:red">{{this.error}}</b>
  </div>
