#cssTable td 
{
    text-align: left; 
    vertical-align: middle;
    font-size:medium;
}

input[type="text"]
{
    font-size:14px;
}

input[type="date"]
{
    font-size:14px;
}

input[type="datetime-local"]
{
    font-size:14px;
}

input[type="number"]
{
    font-size:14px;
}

button
{
    font-size:18px;
}