<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="backspace">
    <svg id="svg8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365.5 592" width="40"><style>.st0{fill:#d41e1e}.st1{fill:#831d0b}.st2{fill:#e22e28}</style><g id="layer5"><g id="g1627"><path id="path1599" class="st0" d="M0 322.4c64.4 34.2 131.6 70 183.5 97.7l182-97.7c-65.9 97.9-120.8 179.4-182 269.6C122.2 502 54.5 402.7 0 322.4zm7-27l176.7-94.3 174.4 93.6-174.3 94.4L7 295.4zm176.5-124.5L0 267.5 182.7 0l182.8 268.1-182-97.2z"/><path id="path1593" class="st1" d="M183.5 420.1l182-97.7c-65.9 97.9-182 269.6-182 269.6V420.1zm.2-219l174.4 93.6-174.3 94.4-.1-188zm-.2-30.2L182.7 0l182.8 268.1-182-97.2z"/><path id="path1603" class="st1" d="M7 295.4l176.7 14.5 174.4-15.1-174.3 94.4L7 295.4z"/><path id="path1606" class="st2" d="M183.7 309.9l174.4-15.1-174.3 94.4-.1-79.3z"/></g></g></svg>
  </span>  
  <span class="backspace" *ngIf="!web3s.conectado" ><h2>{{web3s.msgEstado}}</h2></span>    
  <div class="backspace" *ngIf="!web3s.conectado" ><button (click)="conectar()">Conectar</button></div>
  <img src="assets/logoMarinaApiver.jpg" height="80px">
  <img src="assets/logoCICEbg.png" height="80px">
  <img src="assets/logoICAVE.jpg" width="250px">
  <img src="assets/logoCP.jpg" height="140px">
  <div *ngIf="web3s.conectado"><a routerLink="/registrar"><img src="assets/iconEdit.png" height="48px"></a></div>  
  <div *ngIf="web3s.conectado"><a routerLink="/"><img src="assets/iconSearch.png" height="40px"></a></div>
</div>

<div class="content" role="main" width="100%">    
  <!-- Highlight Card -->  
  <router-outlet></router-outlet>
  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">    
    <path id="Path_39" data-name="Path 39" d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z" transform="translate(142.69 -634.312)" fill="#eee"/>
  </svg>
</div>
