.backspace { margin-left:10px; margin-top: 20px;}

.logoright { text-align:right; margin-top: 15px; float: right; }

th { background-color: gainsboro;}
td { background-color: aliceblue;}

.left {float:left;width:100px;}
.right {float:right;width:100px;}