  
    <!-- Highlight Card -->  
    <div class="card highlight-card card-small">      
      <h2>DApp Facturas Muellaje</h2>
      <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">      
        <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
      </svg>
    
    </div>    
    <!-- Links -->
    <div class="card row">
      <table>
        <tr><td colspan="2">
              <a href="https://{{this.web3s.explorerAd}}{{this.web3s.contractAddress}}" target="_blank">{{this.web3s.contractAddress}}</a>
            </td>
        </tr>
        <tr><td><button (click)="getConsultaFactura()">ConsultaFactura()</button></td><td><input type="number" id="facturaConsultar" name="facturaConsultar" [(ngModel)]="facturaConsultar" style="text-align:right;"/></td></tr>        
      </table>
    </div>
    <div class="row" *ngIf="this.factura.folioSIP>0">
      <div>
        <table width="100%">
            <tr>
              <th>Emisor</th>
              <th>Receptor</th>
            </tr>
            <tr>
              <td>{{this.factura.emisor}}</td>
              <td>{{this.factura.receptor}}</td>
            </tr>   
        </table>
      <br/>
      <table width="100%">
          <tr>
            <th>Folio</th><td>{{this.factura.folioSIP}}</td>
          </tr>
          <tr>
            <th>Fecha</th><td>{{this.factura.fecha}}</td>
          </tr>
          <tr>
            <th>RFC</th><td>{{this.factura.rfc}}</td>          
          </tr>
          <tr>
            <th>Tr&aacute;fico</th><td>{{this.factura.byTrafico.substring(0,1)=="I"?"Importacion":"Exportacion"}}</td>          
          </tr>
          <tr>
            <th>Cliente</th><td>{{this.factura.strCliente}}</td>          
          </tr>
          <tr>
            <th>Ag. Aduanal</th><td>{{this.factura.strNomAgente}}</td>          
          </tr>
          <tr>
            <th>Factura</th><td><a href="{{this.factura.strUrl}}" target="_blank">{{this.factura.strUrl}}</a></td>          
          </tr>                        
      </table>
      <br/>
      </div>
    </div>
  
    <div class="card" *ngIf="factura.folioSIP<0">
        No se encontr&oacute; la factura
    </div>
    <div class="card">
      <table>
          <tr>
             <td><button (click)="setBlockFrom(newBlock.value)">Bloque inicial</button></td>
             <td style="text-align: center;">
              <input type="text" #newBlock value="{{ this.fromBlock }}" style="text-align:right;"/>
             </td>
          </tr>
      </table>       
    </div>
    <table style="border: 0px solid; width: 100%; background-color:#1976d2;color:#ffffff;">
        <thead>        
          <tr>
            <th>Transaction Hash</th><th>Block number</th><th colspan="2">Solicitante</th>
          </tr>
          <tr>
            <th>Factura</th><th>Fecha</th><th>RFC</th><th>Nombre</th>
          </tr>
          <th colspan="4">URL</th>        
        </thead>
    </table>   
    <!-- Footer  #scrollframe style="overflow: scroll; width: 100%; height: 500px;" -->
    <div>    
      <table style="border: 0px solid">
        <tbody>
          <tr *ngFor="let el of elementos; let i = index"  class="item" #item>
            <table width="100%">                        
              <tr>
                <td colspan="2"><a href="https://{{this.web3s.explorerTx}}{{el.transactionHash}}" target="_blank" style='color:green;'>{{el.transactionHash}}</a></td>                            
                <td><a href="https://{{this.web3s.explorerBl}}{{el.blockNumber}}" target="_blank" style='color:red;'>{{el.blockNumber}}</a></td>              
                <td><a href="https://{{this.web3s.explorerAd}}{{el.solicitante}}" target="_blank" style='color:blue;'>{{el.solicitante }}</a></td>                                          
              </tr>
              <tr>              
                <td><b>{{el.nofactura }}</b></td>        
                <td>{{el.fecha }}</td>
                <td><b>{{el.rfc }}</b></td>
                <td><b>{{el.strMensaje }}</b></td> 
              </tr>
              <tr>   
                <td colspan="4"><a href="{{el.url}}" target="_blank">{{el.url }}</a></td>
              </tr>            
            </table>
            <hr>
          </tr>        
          <!-- Transaction Hash', 'Block Number','Solicitante', 'Factura', 'Fecha','RFC','Nombre','URL'-->
        </tbody>
      </table>
    </div>
 
  